<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">

        <title>Indisponible</title>

        <meta name="viewport" content="width=device-width"/>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>

    <body>

        <div id="content">

            <header>
                <h1>Jus de Pomme</h1>
                <h2>Indisponible</h2>
            </header>

            Le service de données est indisponible.

            <footer>
                <a href="{{ address }}/">Tenter de retourner à l'Accueil</a>
            </footer>

        </div>

    </body>

</html>