<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">

        <title>Message</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    </head>

    <body>

        <div id="content">

            <header>
                <h1>Jus de Pomme</h1>
                <h2>Message</h2>
            </header>

            {{ text }}

            <footer>
                <a href="{{ address }}/">Accueil</a> -
                <a href="{{ address }}/{{ panel }}?token={{ token }}">Retour Panel</a>
            </footer>

        </div>

    </body>

</html>